.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav_bar {
    display: flex;
    border-width: 5px;
    flex-direction: row;
    align-items: center;
}
.parangTitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}
.links {
    display: flex;      
    list-style: none;    
    gap: 30px; 
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;   

}
.links a{
    text-decoration: none;
    color:#2d3436;
}
.links a:hover{
    color:#636e72;
}

.featured{
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    height: 250px;
    width: 250px;
    border: #2d3436;
    border-radius: 200px;
    border-style: solid;
    border-width: 4px;

}
.projects{
   font-size: 20px; 
   
}
.projects li {
    margin-bottom: 10px ;
}

.flex-container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.skills h2 {
   margin-left: 110px;
   font-size: 30px;
}

.skills li{
    margin-bottom: 10px;
    font-size: 17px;
}
.autobiography h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.flex-footer{
    border-style: solid;
    display: flex;
    margin-top: 50px;
}

.logo{
    height: 120px;
    width: 120px;
    margin: 20px;

}
.footer-info div{
    margin: 10px;
}
.footer-info p{
    margin: 10px;
}
.footer-info a{
    margin: 10px;
}

